[submodule "Code/SAvVy"]
	path = Code/SAvVy
	url = https://github.com/NikEfth/SAvVy.git
[submodule "Code/STIR"]
	path = Code/STIR
	url = https://github.com/UCL/STIR.git
[submodule "Code/libfreenect"]
	path = Code/libfreenect
	url = https://github.com/OpenKinect/libfreenect.git
[submodule "Code/pcl"]
	path = Code/pcl
	url = https://github.com/PointCloudLibrary/pcl.git
[submodule "Code/libfreenect2"]
	path = Code/libfreenect2
	url = https://github.com/OpenKinect/libfreenect2.git
